<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   	<settings>
        <setting name="logPrefix" value="dao."/>
    </settings>

	<typeAliases>
		<package name="com.feifanuniv.management.entity"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/XueSheng.xml"/>
		<mapper resource="mybatis/Major.xml"/>
		<mapper resource="mybatis/Global.xml"/>
		<mapper resource="mybatis/Teachingplan.xml"/>
	</mappers>
</configuration> 